/* pages and rabbit holes */
:root {
   --computer: #dbdfe2;
   --computer-shadow: #aaabaf;
   --space: #010837;
   --text: #65ffff;
   --white: #ffffff;
   --offwhite: #f1f1f1;
   --grey: #ccc;
   --black: #000000;
   --offblack: #1B1B1B;
   --orange: #Ffac48;
   --teal: #65d1d1;
         }
/* body */
body {
  background-color: var(--computer);
  font-family: "Gill Sans", sans-serif;
  padding: 5%;
}
/* navigation */
.navigation {
  text-align: left;
}
a.navigation {
  color: var(--offwhite);
  text-decoration: none;
  font-size: 1.3em;
}
a:hover.navigation {
  color: var(--teal);
}

/* block */
.block {
  background-color: var(--computer-shadow);
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  width: 98%;
  padding: 1%;
}
/* block */
.computer {
  background-color: var(--computer);
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  width: 98%;
  padding: 1%;
}
/* pages */
.page {
  background-color: var(--space);
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  color: var(--text);
  min-height: 650px;
  padding: 1% 1% 5% 1%;
  position: relative;
  width: 98%;
}
.column100 {
  padding: 1% 5%;
  width: 90%;
}
.column50 {
  padding: 2.5%;
  width: 45%;
}
.column30 {
  padding: 2.5%;
  width: 25%;
}
.center {
  text-align: center;
}
.computer-buttons {
  margin-bottom: 15%;
  padding-top: 5%;
  text-align: right;
}
.image {
  text-align: center;
  width: 50%;
}

/* pagination */
.pagination {
  color: var(--text);
  margin-top: 15%;
  padding: 1% 1% 5% 1%;
  width: 98%;
}

.page-numbers {
  text-align: center;
  bottom: 0;
}


p.page-number {
  color: var(--grey);
  font-family: sans-serif;
  font-size: 1.1em !important;
  text-align: center;
  padding-bottom: 5%;
}


/* text */
h1.firstpage {
  text-align: center !important;
}

.page h1 {
  font-size: 3em;
  margin-top: 15%;
}
.page h2 {
  font-size: 2.3em;
}
.page p {
  font-size: 1.7em;
}

.orange {
  color: var(--orange);
}

p.comment {
  color: var(--grey);
  font-size: 1.2em;
  padding: 0% 5% 2.5% 5%;
}

/* links */

a:link {
  color: var(--teal);
}

a:hover {
  color: var(--orange);
}

a:visited {
  color: var(--grey);
}

.button-forward {
  background-color: var(--orange);
  border: 2px solid var(--teal);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  padding: 2% 3%;
  margin: 5%;
}

a.button-forward  {
  color: var(--black);
  font-size: 1.5em;
  text-decoration: none;
}

a:hover.button-forward {
  border: 2px solid var(--offwhite);
  color: var(--offwhite);

}

.button-back {
  background-color: none;
  border: 2px solid var(--teal);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  padding: 2% 3%;
  margin: 5%;
}

a.button-back {
  color: var(--teal);
  font-size: 1.5em;
  text-decoration: none;
}

a:hover.button-back {
  border: 2px solid var(--offwhite);
  color: var(--offwhite);

}


.button {
  background-color: none;
  padding: 2% 1%;
  margin: 2% 2%;
  line-height: 5;
  text-decoration: underline;
}

a.button  {
  color: var(--teal);
  font-size: 1.3em;
  padding: 2% 5%;
}

a:hover.button {
  color: var(--offwhite);
}

a.page-number {
  color: var(--text);
  font-size: 1.5em;
  text-decoration: none;
  cursor: default;
}

.computer-button {
  margin: 3% 1%;
  padding: 2% 3%;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
}

a.computer-button {
  border: 2px solid var(--computer-shadow);
  color: var(--black);
  text-decoration: none;
}

a:hover.computer-button {
  border: 2px solid var(--grey);
}

.page a:link {

}

.question a:link {
  color: var(--text);
  font-family: monospace;
  font-size: 1.5em;
}

.question a:hover {
  color: var(--orange);
}

.link-pending {
  text-decoration: none !important;
  line-height: 250%;
}

a:hover.link-pending {
  color: var(--text);
  cursor: default;
}

p.date {
  font-size: 1.1em;
}
.footer-links p, .footer-links a:link {
  color: var(--black);
  font-size: 1em;
  margin-top: 10%;
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .image {
    text-align: center;
    width: 90%;
  }
}
