/* pages and rabbit holes */
:root {
   --space: #010837;
   --text: #65d1d1;
   --white: #ffffff;
   --offwhite: #f1f1f1;
   --grey: #ccc;
   --black: #000000;
   --offblack: #1B1B1B;
   --orange: #F7931a;
   --teal: #65d1d1;
         }
/* body */
body {
  background-color: var(--space);
  font-family: "Gill Sans", sans-serif;
}
/* navigation */
.navigation {
  text-align: left;
}
a.navigation {
  color: var(--offwhite);
  text-decoration: none;
  font-size: 1.3em;
}
a:hover.navigation {
  color: var(--teal);
}

/* block */
.block {
  width: 100%;
}
/* pages */
.page {
  color: var(--text);
  width: 80%;
}
.column100 {
  padding: 5% 25% 5% 25%;
  width: 80%;
}
.column50 {
  padding: 2.5%;
  width: 45%;
}
.column30 {
  padding: 2.5%;
  width: 25%;
}
.center {
  text-align: center;
  margin-top: 10%;
}




/* text */
h1.firstpage {
  text-align: center !important;
}

.page h1 {
  font-size: 3em;
  margin-top: 15%;
}
.page h2 {
  font-size: 2.3em;
}
.page p {
  font-size: 1.7em;
}

.orange {
  color: var(--orange);
}

p.comment {
  color: var(--grey);
  font-size: 1.2em;
  padding: 0% 5% 2.5% 5%;
}

/* links */
.button {
  background-color: none;
  padding: 2% 1%;
}

a.pagenumbers {
  color: var(--offwhite);
  font-size: 1.5em;
  text-decoration: none;
  cursor: default;
}

a.button  {
  color: var(--offwhite);
  font-size: 1.5em;
  text-decoration: none;
}

a:hover.button {
  color: var(--orange);
}

.page a:link {

}

p.date {
  font-size: 1.1em;
}
